@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

#groupBtn{
    background: #165C9B;
    font-family: 'Nunito Sans', sans-serif;
}
#backgroundToolbar, #groupBtn, #backgroundBtnGoup{
    background: #165C9B;
    border-color: #165C9B;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration:none
}
#backgroundTR{
    background: rgb(139, 188, 245);
    border-color: rgb(124, 40, 1);
    color: rgb(2, 9, 49);
    font-size: 13px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
#backgroundSideBar{
    background: rgb(139, 188, 245);
    border-color: rgb(139, 188, 245);
    color: rgb(2, 9, 49);
    font-family: 'Nunito Sans', sans-serif;
}
#backgroundListButton{
    background: rgb(223, 108, 55);
    border-color: rgba(223, 108, 55, 0.747);
    color: rgb(2, 9, 49);
}
#backgroundWindowsContent, #backgroundPaneGroup{
    background: rgb(202, 227, 255);
    border-color: rgb(202, 227, 255);
    font-family: 'Nunito Sans', sans-serif;
}
#btnTAB{
    background-color: #FF9B6E;
    border-color: #FF9B6E;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration:none
}
#btnAction{
    background: rgb(252, 212, 193);
    border-color: #FF9B6E;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
}
#title, #footer{
    background: #165C9B;
    border-color: #165C9B;
    color: #FF9B6E;
    font-family: 'Nunito Sans', sans-serif;
}
#splashScreen{
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Nunito Sans', sans-serif;
}
.pane-body{
    padding: 1rem
}
#modal_cliente{
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(249, 125, 69);
    z-index: 9000;
    font-family: 'Nunito Sans', sans-serif;
}
#modal_cliente .wrap{
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-top: 10%;
    background: rgba(87, 138, 183, 0.699);
    border-radius: 3%;
    font-family: 'Nunito Sans', sans-serif;
}
#modal_cliente input{
    color:  #165C9B;
    font-family: 'Nunito Sans', sans-serif;
}

#modal_produto{
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(249, 125, 69);
    z-index: 9000;
    font-family: 'Nunito Sans', sans-serif;
}
#modal_produto .wrap{
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-top: 10%;
    background: rgba(87, 138, 183, 0.699);
    border-radius: 3%;
}
#modal_produto input{
    color:  #165C9B;
    font-family: 'Nunito Sans', sans-serif;
}

#modal_venda{
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(249, 125, 69);
    z-index: 9000;
    font-family: 'Nunito Sans', sans-serif;
}
#modal_venda .wrap{
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-top: 10%;
    background: rgba(87, 138, 183, 0.699);
    border-radius: 3%;
    font-family: 'Nunito Sans', sans-serif;
}
#modal_venda select, input{
    color:  #165C9B;
    font-family: 'Nunito Sans', sans-serif;
}